@font-face {
	font-family: 'Greycliff CF';
	src: url(../../assets/fonts/GreycliffCF-Heavy.eot?h=9fe2d8a489f9bcac61b53bd74c15272e) format('embedded-opentype'),
	url(../../assets/fonts/GreycliffCF-Heavy.eot?h=9fe2d8a489f9bcac61b53bd74c15272e) format('embedded-opentype'),
	url(../../assets/fonts/GreycliffCF-Heavy.woff2?h=9fe2d8a489f9bcac61b53bd74c15272e) format('woff2'),
	url(../../assets/fonts/GreycliffCF-Heavy.woff?h=9fe2d8a489f9bcac61b53bd74c15272e) format('woff'),
	url(../../assets/fonts/GreycliffCF-Heavy.ttf?h=9fe2d8a489f9bcac61b53bd74c15272e) format('truetype'),
	url(../../assets/fonts/GreycliffCF-Heavy.svg?h=9fe2d8a489f9bcac61b53bd74c15272e) format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}