@font-face {
    font-family: 'Greycliff CF Extra';
    src: url('GreycliffCF-ExtraLight.eot');
    src: url('GreycliffCF-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-ExtraLight.woff2') format('woff2'),
        url('GreycliffCF-ExtraLight.woff') format('woff'),
        url('GreycliffCF-ExtraLight.ttf') format('truetype'),
        url('GreycliffCF-ExtraLight.svg#GreycliffCF-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Heavy.eot');
    src: url('GreycliffCF-Heavy.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-Heavy.woff2') format('woff2'),
        url('GreycliffCF-Heavy.woff') format('woff'),
        url('GreycliffCF-Heavy.ttf') format('truetype'),
        url('GreycliffCF-Heavy.svg#GreycliffCF-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Turismo CF';
    src: url('TurismoCF-Bold.eot');
    src: url('TurismoCF-Bold.eot?#iefix') format('embedded-opentype'),
        url('TurismoCF-Bold.woff2') format('woff2'),
        url('TurismoCF-Bold.woff') format('woff'),
        url('TurismoCF-Bold.ttf') format('truetype'),
        url('TurismoCF-Bold.svg#TurismoCF-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

