@font-face {
	font-family: 'Turismo CF';
	src: url(/assets/fonts/TurismoCF-Bold.eot?h=3f0926f08db9c09719a97084ff0a66f8) format('embedded-opentype'),
	url(/assets/fonts/TurismoCF-Bold.eot?h=3f0926f08db9c09719a97084ff0a66f8) format('embedded-opentype'),
	url(/assets/fonts/TurismoCF-Bold.woff2?h=3f0926f08db9c09719a97084ff0a66f8) format('woff2'),
	url(/assets/fonts/TurismoCF-Bold.woff?h=3f0926f08db9c09719a97084ff0a66f8) format('woff'),
	url(/assets/fonts/TurismoCF-Bold.ttf?h=3f0926f08db9c09719a97084ff0a66f8) format('truetype'),
	url(/assets/fonts/TurismoCF-Bold.svg?h=3f0926f08db9c09719a97084ff0a66f8) format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}